@font-face{
	src:url('fonts/Berkahi Blackletter.ttf');
	font-family: fuente_gotica;
}
*{
	margin: 0;
	padding: 0;
		-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	background-image:url('../img/video-games-final-fantasy-iv-golbez-square-enix-wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	font-family: arial;

}
main{
	width: 100%;
}
#answer{
	width: 100%;
}
#monto, #montoP{
	transition: 1s all ease;
}

.red{
animation-name:efectosFondos;
	animation-duration: 3s;
}
.white{
animation-name:efectosAtaque;
	animation-duration: 3s;
}
#battle{
	background-image: url('../Backdrop/castle.png');
	background-position: 100%;
display: flex;
min-height: 100vh;
}
button:hover{
	background-color: red;
	cursor: pointer;
}
.control{
	width: 100%;
flex-wrap: wrap;
	height: 200px;
	padding: 20px;
	align-self: flex-end;
	display: inline-flex;
	padding: 10px;
	color: white;
	font-size: 30px;
	background-color: #00008b;
	animation-duration: 3s;
		box-shadow: 0 0 20px white inset;
	border:white 2px solid;
	transition: 1s all ease;
  	animation-name:  slidemenu ;
 	 position: absolute;
 	 top: 500px;


}
.vidaMonstruo{
	width: 50%;
}
.vidaPersonaje{
	width: 50%;
}
#contenedorMagia{
	width: 47%;
	padding: 10px;
	transition: 300ms all ease;
	font-size: 30px;
}
.control .vida, .habilidad, .preguntas{
	width: 50%;
	border-radius: 10px;
	

}
#poder{
	position: absolute;
	left: 370px;
	top: 30px;
	border-radius: 10px;
	color: white;
		box-shadow: 0 0 20px white inset;
	border:white 2px solid;
	font-size: 30px;
	width: 50%;
	background-color: #00008b;
	transition: 500ms all ease;
	opacity: 0;
	text-align: center;
}
.control .vida{
	width: 50%;
	display: flex;
	margin: auto;
}
.control .habilidad ul{
	list-style: none;
	width: 100%;
	display: flex;
}
.control .habilidad{
width: 51%;
margin: auto;
margin-top:10px; 
display: flex;


}
button{
	height: 50px;
}
.control .habilidad button{text-align: center;
	margin: 4px;
width: 48%;
	
}
.boss{
	position: absolute;
	top: 150px;
	bottom: 0;
	left: 500px;
	right: 0;
	transition: 3s all ease;
		animation-name:monstruo;
	animation-duration: 3s;
}
.boss img{
	width: 50%;
}
.principal{
	width: 40%;
	margin-left:10px; 
}
.container{
	width: 100%;	font-size:30px; 
	padding-bottom: 20px;
	background: linear-gradient(to right, rgb(0,0,100), rgba(0,0,0,0.1));

}

header, footer{
	animation-duration: 5s;
  animation-name: apear;
}

.selector{
	width: 100%;
	float: left;
	margin-top: 25%; 
	margin-bottom:25.5%; 
	background-color: #00008b;
	border:white 2px solid;
	border-radius: 10px;
	padding: 20px;
	text-align: center;	animation-duration: 3s;
  animation-name: slidein;

}
.selector ul li{
	list-style: none;

}
.selector ul li a{
	color: white;
	text-decoration: none;
}
.titulo{
	width: 100%;
	border-radius: 10px;
	background-color: #00008b;
	border:white 2px solid;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 15%; 
	animation-name:slidein;
	animation-duration: 3s;
}

header{
	font-size: 30px;
	letter-spacing: 20px;
	font-family: fuente_gotica;
	text-align: center;
	align-self: flex-start;
	width: 100%;
	padding:20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #00008b;
	border-right:white 4px solid;
	border-bottom:white 4px solid;
	border-left:white 4px solid;
	color: white;
}
footer{
	align-self: flex-end;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #00008b;
	border-top:white 4px solid;
	border-right:white 4px solid;
	border-left:white 4px solid;
	color: white;
	text-align: center;
	padding: 20px;
	width: 100%;

}
.señalador{
	transition: 300ms all ease;
	margin-right:10px; 
}
#preguntas{
	width: 50%;
	margin: auto;
}

.respuestas{
	list-style: none;
	width: 49%;
	margin: 0.5px;
	text-align: center;
	cursor: pointer;

}
.respuestas:hover{

}
li:hover .señalador{
   width: 0;
    height: 0;
  
    border-left: 10px solid red;
  
}
@keyframes slidein {
  from {
    margin-left: 100%;

  }

  to {
    margin-left: 0%;
    
  }
}
@keyframes slideinz {
  from {
    margin-bottom: 100%;

  }

  to {
    margin-left: 0%;
    
  }
}
@keyframes slidemenu {
  from {
    position: absolute;
    
  	top:700px;

  }

  to {
   position: absolute;
  	top: 500px;

    
  }
}
@keyframes apear {
  from {
  opacity: 0;

  }

  to {
    margin-left: 1;
    
  }
}
@keyframes apearz {
  from {
  opacity: 0;

  }

  to {
    margin-left: 1;
    
  }
}
@keyframes monstruo {
  from {
 position: absolute;
	top: 100px;
	bottom: 0;
	left: 500px;
	right: 0;

  }

  to {
    position: absolute;
	top: 150px;
	bottom: 0;
	left: 500px;
	right: 0;
    
  }
}
@keyframes efectosFondos {
  from {
background: red;

}

  to {
  background: rgba(0,0,0,0);
	
  }
}
@keyframes efectosAtaque {
  from {
background: white;

}

  to {
  background: rgba(0,0,0,0);
	
  }
}